ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family:"Segoe UI", fantasy;
    font-size:25px;
}
ul.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family:"Segoe UI", fantasy;
    font-size:25px;
}
li {
    float: left;
}
.reference{
    color:#4f4f4f;
    font-weight: bold;
}
li a {
    display: block;
    color: #2f2f2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#c5c5c5;
}

h1{
    font-family:"Segoe UI", fantasy;
    text-align:center;
    font-size:60px;
    font-weight:bolder;
    margin-bottom: 50px;
}
.desc{
    margin-top:30px;
    margin-bottom:500px;
    text-align: center;
    font-family: "Segoe UI", fantasy;
    font-size:40px;
}
.lolol{
    text-align: center;
    margin-bottom:30px;
    color:white;
    margin-top:300px;
}
body{
    background-color:#ffffff;
    background-image: url("images/bekgrund3b.png");
    background-size: cover;
    background-repeat: no-repeat;
}